/
<section class="fxt-template-animation fxt-template-layout29 loaded">
  <div class="container-fluid">
    <div class="row">
      <div
        class="vegas-container col-md-6 col-10"
        id="vegas-slide"
        style="height: 855px"
      >
        <div
          class="vegas-slide vegas-transition-swirlLeft vegas-transition-swirlLeft-in vegas-transition-swirlLeft-out"
        >
          <div
            class="vegas-slide-inner vegas-animation-kenburns"
            style="
              background-image: url('assets/images/bg29-l-2.jpeg');
              background-color: rgba(0, 0, 0, 0);
              background-position: center center;
              background-size: cover;
            "
          ></div>
        </div>
        <div
          class="vegas-slide vegas-transition-swirlLeft vegas-transition-swirlLeft-in"
        >
          <div
            class="vegas-slide-inner vegas-animation-kenburns"
            style="
              background-image: url('assets/images/bg29-l-2.jpeg');
              background-color: rgba(0, 0, 0, 0);
              background-position: center center;
              background-size: cover;
            "
          ></div>
        </div>
        <div class="vegas-wrapper" style="overflow: hidden; padding: 0px 12px">
          <div class="fxt-page-switcher">
            <a routerLink="/Login" class="switcher-text1">Se Connecter</a>
            <a routerLink="/Register" class="switcher-text1">S'enregistrer</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 fxt-bg-color">
        <div class="col-md-6" style="width: 100%">
          <a routerLink="['/ForgotPassword']" class="fxt-logo">
            <img src="assets/images/logo-29.png" class="imglogo" alt="Logo"
          /></a>

          <div class="fxt-form" style="text-align: center">
            <div class="fxt-transformY-50 fxt-transition-delay-1">
              <h2>Enregistrer un Client</h2>
            </div>
            <form
              method="POST"
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-around;
              "
            >
              <div style="max-height: 200vh; width: 45%">
                <!-- <div class="form-group"> -->
                <!-- <div class="fxt-transformY-50 "> -->
                <!-- <select class="form-control fxt-transition-delay-1"> -->
                <!-- <option valeur="Monsieur">Monsieur</option> -->
                <!-- <option valeur="Madame">Madame</option> -->
                <!-- <option valeur="Melle" >Melle</option> -->
                <!-- </select> -->
                <!-- <i class="fa fa-angle-down"></i> -->

                <!-- </div> -->
                <!-- </div> -->
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-1">
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      placeholder="Nom .. "
                      required="required"
                      ngModel
                      required
                    />
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-1">
                    <input
                      type="text"
                      class="form-control"
                      name="prenom"
                      placeholder="Prénom .. "
                      required="required"
                    />
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-1">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Email .. "
                      required="required"
                    />
                    <i class="fa fa-envelope"></i>
                  </div>
                </div>

                <!-- <div class="form-group"> -->
                <!-- <div class="fxt-transformY-50 "> -->
                <!-- <select class="form-control fxt-transition-delay-1"> -->
                <!-- <option valeur=""><span class="option" style="color:#a1a1a1;">Genre</span> -->
                <!-- </option> -->
                <!-- <option valeur="">Homme</option> -->
                <!-- <option valeur="">Femme</option> -->

                <!-- </select> -->
                <!-- <i class="fa fa-angle-down"></i> -->
                <!-- </div> -->
                <!-- </div> -->
              </div>

              <div style="max-height: 200vh; width: 45%">
                <!-- <div class="form-group"> -->
                <!-- <div class="fxt-transformY-50 "> -->
                <!-- <select class="form-control fxt-transition-delay-1"> -->
                <!-- <option valeur="type device"><span class="option" -->
                <!-- style="color:#a1a1a1;">Etat Civil</span></option> -->
                <!-- <option valeur="Célibataire">Célibataire</option> -->
                <!-- <option valeur="Marié">Marié(e)</option> -->
                <!-- <option valeur="Divorcé">Divorcé(e)</option> -->
                <!-- <option valeur="Veuf">Veuf(ve)</option> -->
                <!-- </select> -->
                <!-- <i class="fa fa-angle-down"></i> -->
                <!-- </div> -->
                <!-- </div> -->

                <!-- <div class="form-group"> -->
                <!-- <div class="fxt-transformY-50 fxt-transition-delay-1"> -->
                <!-- <input type="number" class="form-control" name="name" placeholder="Nombre d'enfants .. " -->
                <!-- required="required"> -->

                <!-- </div> -->
                <!-- </div> -->

                <div class="form-group">
                  <div class="fxt-transformY-50">
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      placeholder="N° CIN .. "
                      required="required"
                    />
                    <i class="fa fa-address-card"></i>
                  </div>
                </div>
                <!-- <div class="form-group" -->
                <!-- style="display:flex;flex-direction: row;justify-content:space-around"> -->
                <!-- <input type="date" class="form-control date" style="width:35%;" /> -->
                <!-- <i class="fa fa-calendar-days"></i> -->

                <!-- <input type="text" class="form-control" name="LieuNais" -->
                <!-- placeholder="Lieu délivrance .. " required="required" style="width:60%;" /> -->
                <!-- <i class="fa fa-map"></i> -->
                <!-- </div> -->

                <div class="form-group">
                  <div class="fxt-transformY-50">
                    <input
                      type="password"
                      class="form-control"
                      name="name"
                      placeholder="Mot de passe .. "
                      required="required"
                    />
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
                <div class="form-group">
                  <div class="fxt-transformY-50">
                    <input
                      type="password"
                      class="form-control"
                      name="name"
                      placeholder="Confirmer mot de passe .. "
                      required="required"
                    />
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
                <!-- <div class="form-group" -->
                <!-- style="display:flex;flex-direction: row;justify-content:space-around"> -->
                <!-- <span class="form-control" name="LieuNais" style="width:60%; color: #a1a1a1; -->
                <!-- font-size: 15px; -->
                <!-- font-weight: 300;">date -->
                <!-- entrée en -->
                <!-- relation -->
                <!-- ..</span> -->
                <!-- <input type="date" class="form-control date" style="width:40%;" /> -->
                <!-- <i class="fa fa-calendar-days"></i> -->

                <!-- </div> -->

                <!-- <div class="form-group"> -->
                <!-- <div class="fxt-transformY-50 fxt-transition-delay-1"> -->
                <!-- <input type="email" class="form-control" name="email" -->
                <!-- placeholder="Addresse Email .." required="required" -->
                <!-- [(ngModel)]="user.email"> -->
                <!-- <i class="fa fa-envelope"></i> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                <!-- <div class="fxt-transformY-50 fxt-transition-delay-2"> -->
                <!-- <input type="password" class="form-control" name="password" -->
                <!-- placeholder="Mot de Passe .." required="required" -->
                <!-- [(ngModel)]="user.password"> -->
                <!-- <i class="fa fa-lock"></i> -->
                <!-- </div> -->
                <!-- </div> -->
              </div>
            </form>

            <div class="form-group">
              <div class="fxt-transformY-50 fxt-transition-delay-3">
                <button
                  type="submit"
                  class="fxt-btn-fill"
                  [routerLink]="['/Login']"
                >
                  S'enregister
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="fxt-footer">
                        <div class="fxt-transformY-50 fxt-transition-delay-8">
                            <h3>Or Login With:</h3>
                        </div>
                        <ul class="fxt-socials">
                            <li class="fxt-facebook fxt-transformY-50 fxt-transition-delay-9">
                                <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="fxt-twitter fxt-transformY-50 fxt-transition-delay-10">
                                <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="fxt-google fxt-transformY-50 fxt-transition-delay-11">
                                <a href="#" title="google"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li class="fxt-linkedin fxt-transformY-50 fxt-transition-delay-12">
                                <a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li class="fxt-pinterest fxt-transformY-50 fxt-transition-delay-13">
                                <a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
