<h1>Agences</h1>
<button type="button" class="btn btn-primary btn-lg" class="btn btn-info" (click)="add()"> Nouvelle Agence</button>
              
              <table class="table custom-table">
                <thead>
                  <tr>
                    <th>IMF</th>
                    <th>Nom</th>
                    <th>Adresse</th> 
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Actions</th>
                    
                    
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let agence of agences_monitor " > 
                    <td>{{agence.nom_imf}}</td>
                      <td><strong class="text-black">{{agence.nom}}</strong></td>
                      <td><strong class="text-black">{{agence.adresse}}</strong></td>
                      <td class="text-black">{{agence.tel}}</td>
                      <td class="text-black"><span>{{agence.email}}</span></td>
                      <td>
                        <button type="button" class="btn btn-warning" (click)="update(agence._id)" >Modifier</button>
                        <button type="button" class="btn btn-outline-danger" (click)="deleteagence(agence._id)" >Supprimer</button>
                      </td>
                     
                  </tr>
                  
              </tbody>
              </table>

             